.App {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgb(53,92,125);
  }
  
  .item {
    grid-area: 1 / 1;
    width: 80vw;
    max-width: 600px;
    padding-bottom: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    will-change: transform;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .itemTitle{
    position: relative;
    bottom:0;
  }
  